In [1]:
#collecting data from github repository

import pandas as pd

location='https://github.com/PUBPOL-542-Group-1-Project/Micaela_Moricet/raw/main/datafiles/Report_Card_Enrollment_2018-19_School_Year.xlsm'
enroll=pd.read_excel(location)

In [2]:
enroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19866 entries, 0 to 19865
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SchoolYear                               19866 non-null  object
 1   OrganizationLevel                        19866 non-null  object
 2   County                                   19866 non-null  object
 3   ESDName                                  19542 non-null  object
 4   ESDOrganizationID                        19526 non-null  float64
 5   DistrictCode                             19850 non-null  float64
 6   DistrictName                             19866 non-null  object
 7   DistrictOrganizationId                   19850 non-null  float64
 8   SchoolCode                               15474 non-null  float64
 9   SchoolName                               19866 non-null  object
 10  SchoolOrganizationid                     15474 non-null  float64
 11  CurrentSchoolType                        15474 non-null  object
 12  GradeLevel                               19866 non-null  object
 13  All Students                             19866 non-null  int64
 14  Female                                   19866 non-null  int64
 15  Gender X                                 19866 non-null  int64
 16  Male                                     19866 non-null  int64
 17  American Indian/ Alaskan Native          19866 non-null  int64
 18  Asian                                    19866 non-null  int64
 19  Black/ African American                  19866 non-null  int64
 20  Hispanic/ Latino of any race(s)          19866 non-null  int64
 21  Native Hawaiian/ Other Pacific Islander  19866 non-null  int64
 22  Two or More Races                        19866 non-null  int64
 23  White                                    19866 non-null  int64
 24  English Language Learners                19866 non-null  int64
 25  Foster Care                              19866 non-null  int64
 26  Highly Capable                           19866 non-null  int64
 27  Homeless                                 19866 non-null  int64
 28  Low-Income                               19866 non-null  int64
 29  Migrant                                  19866 non-null  int64
 30  Military Parent                          19866 non-null  int64
 31  Mobile                                   19866 non-null  int64
 32  Section 504                              19866 non-null  int64
 33  Students with Disabilities               19866 non-null  int64
 34  Non-English Language Learners            19866 non-null  int64
 35  Non-Foster Care                          19866 non-null  int64
 36  Non-Highly Capable                       19866 non-null  int64
 37  Non-Homeless                             19866 non-null  int64
 38  Non-Low Income                           19866 non-null  int64
 39  Non Migrant                              19866 non-null  int64
 40  Non Military Parent                      19866 non-null  int64
 41  Non Mobile                               19866 non-null  int64
 42  Non Section 504                          19866 non-null  int64
 43  Students without Disabilities            19866 non-null  int64
 44  DataAsOf                                 19866 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(31), object(8)
memory usage: 6.8+ MB

In [3]:
en=enroll.copy()

In [4]:
#drop variables we don't need
en.drop(en.iloc[:,[0,1,3,4,7,10]], axis=1, inplace=True)

In [5]:
en.drop(en.iloc[:,34:44], axis=1, inplace=True)

In [6]:
en

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,CurrentSchoolType,GradeLevel,All Students,Female,Gender X,...,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Foster Care,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant
0,Multiple,NaN,State Total,NaN,State Total,NaN,10th Grade,83402,40586,96,...,1486,1297,5406,10409,76710,82851,76619,81104,46770,81749
1,Multiple,NaN,State Total,NaN,State Total,NaN,11th Grade,84582,41146,127,...,1345,1637,5477,10425,78218,84108,77847,81853,48255,82858
2,Multiple,NaN,State Total,NaN,State Total,NaN,12th Grade,89944,43472,145,...,1103,4578,5449,11663,84438,89492,84106,86120,52795,88207
3,Multiple,NaN,State Total,NaN,State Total,NaN,1st Grade,82309,40076,9,...,2824,1040,1708,11300,65053,81562,80320,79723,42434,80744
4,Multiple,NaN,State Total,NaN,State Total,NaN,2nd Grade,83349,40458,5,...,2644,969,2314,12644,68018,82617,79934,80720,42402,81715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19861,Yakima,39205.0,Zillah School District,NaN,District Total,NaN,8th Grade,97,40,0,...,1,2,1,10,88,97,94,96,35,94
19862,Yakima,39205.0,Zillah School District,NaN,District Total,NaN,9th Grade,120,50,0,...,3,2,2,8,110,120,114,116,56,110
19863,Yakima,39205.0,Zillah School District,NaN,District Total,NaN,AllGrades,1346,616,0,...,11,30,25,166,1189,1342,1303,1301,551,1267
19864,Yakima,39205.0,Zillah School District,NaN,District Total,NaN,Kindergarten,74,36,0,...,0,2,1,11,55,74,74,72,25,70
19865,Yakima,39205.0,Zillah School District,NaN,District Total,NaN,Pre-Kindergarten,44,18,0,...,1,3,0,16,44,44,44,44,25,42

In [7]:
#keep grade 12 only

#how many
en.GradeLevel.value_counts()

AllGrades                2711
5th Grade                1568
3rd Grade                1568
2nd Grade                1566
4th Grade                1561
1st Grade                1554
Kindergarten             1534
Pre-Kindergarten         1117
6th Grade                1108
8th Grade                 956
12th Grade                951
7th Grade                 947
11th Grade                935
10th Grade                894
9th Grade                 850
Half-day Kindergarten      46
Name: GradeLevel, dtype: int64

In [8]:
enn=en.copy()

In [9]:
enn=enn[(enn.GradeLevel== '12th Grade')]

In [10]:
#verify
enn.GradeLevel.value_counts()

12th Grade    951
Name: GradeLevel, dtype: int64

In [11]:
#drop rows with state totals

enn=enn[~enn.County.str.contains("Multiple")]

In [12]:
enn.shape

(950, 34)

In [13]:
#drop rows if SchoolName =District Total
to_drop=['District Total']
enn=enn[~enn['SchoolName'].isin(to_drop)]

In [14]:
enn

,County,DistrictCode,DistrictName,SchoolCode,SchoolName,CurrentSchoolType,GradeLevel,All Students,Female,Gender X,...,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Foster Care,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant
36,Grays Harbor,14005.0,Aberdeen School District,5514.0,Grays Harbor Academy,A,12th Grade,2,1,0,...,0,2,0,0,2,2,2,2,2,2
43,Grays Harbor,14005.0,Aberdeen School District,4267.0,Grays Harbor Juvenile Detention,J,12th Grade,5,1,0,...,0,4,0,0,5,5,5,5,2,5
48,Grays Harbor,14005.0,Aberdeen School District,3857.0,Harbor High School,P,12th Grade,51,29,0,...,1,9,4,9,43,50,51,32,11,51
55,Grays Harbor,14005.0,Aberdeen School District,3476.0,J M Weatherwax High School,P,12th Grade,222,96,0,...,1,14,10,41,205,221,208,210,111,219
88,Grays Harbor,14005.0,Aberdeen School District,5208.0,"Twin Harbors, A Branch of New Market Skills Ce...",V,12th Grade,8,5,0,...,0,0,0,0,8,8,8,8,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15399,Yakima,39007.0,Yakima School District,5355.0,Yakima Open Doors,R,12th Grade,61,36,0,...,0,14,4,4,43,60,60,61,12,52
15403,Yakima,39007.0,Yakima School District,5224.0,Yakima Satellite Alternative Programs,A,12th Grade,6,2,0,...,0,1,0,0,6,6,6,6,3,6
15452,Thurston,34002.0,Yelm School District,1627.0,Yelm Extension School,A,12th Grade,86,48,0,...,6,30,4,3,86,85,86,86,39,86
15457,Thurston,34002.0,Yelm School District,2633.0,Yelm High School 12,P,12th Grade,380,197,0,...,10,28,20,64,374,378,343,371,245,379
15480,Yakima,39205.0,Zillah School District,2240.0,Zillah High School,P,12th Grade,112,50,0,...,1,5,4,5,106,112,108,109,62,104

In [15]:
enn.describe()

,DistrictCode,SchoolCode,All Students,Female,Gender X,Male,American Indian/ Alaskan Native,Asian,Black/ African American,Hispanic/ Latino of any race(s),...,Military Parent,Mobile,Section 504,Students with Disabilities,Non-English Language Learners,Non-Foster Care,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,...,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,22287.662757,3490.385630,133.617302,64.545455,0.200880,68.870968,1.803519,10.596774,6.501466,28.605572,...,1.585044,10.321114,7.593842,16.947214,125.700880,132.942815,125.173021,128.344575,80.520528,131.001466
std,10392.702138,1327.507708,161.066021,79.612213,4.177676,82.233297,3.983385,25.450886,14.815086,51.624006,...,5.546700,15.940172,12.895519,22.030619,151.897992,160.558619,150.923898,156.758089,112.736631,158.434944
min,1109.000000,1500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17001.000000,2330.250000,14.000000,6.000000,0.000000,8.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,13.000000,14.000000,13.250000,13.000000,6.000000,13.250000
50%,21302.000000,3312.500000,55.000000,25.500000,0.000000,27.000000,1.000000,1.000000,1.000000,9.000000,...,0.000000,5.500000,2.000000,7.000000,51.000000,55.000000,53.500000,50.000000,26.500000,52.000000
75%,31279.750000,5031.750000,222.000000,108.750000,0.000000,112.750000,2.000000,7.000000,5.000000,36.000000,...,1.000000,14.000000,9.000000,29.000000,205.000000,221.000000,202.750000,209.000000,113.000000,219.000000
max,39209.000000,5961.000000,843.000000,497.000000,109.000000,371.000000,48.000000,229.000000,110.000000,475.000000,...,65.000000,198.000000,83.000000,159.000000,824.000000,839.000000,843.000000,783.000000,573.000000,841.000000

In [16]:
enn.to_csv('enroll.csv', index=False)